.client-logo {
  width: 85px;
}
.client-col{
    padding-bottom: 15px;
}
.client-card {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
}
.client-card > .card-link {
  color: #333;
}
.client-card > .card-link:hover {
  text-decoration: none;
}
.client-card > .card-link {
  border-radius: 6px 6px 0 0;
}
.client-card .card-body {
  display: table;
  width: 100%;
  padding: 12px;
  text-align: center;
  background: #dddddd;
  border-radius: 8px;
}
.client-card .card-body h1:first-child,
.client-card .card-body h2:first-child,
.client-card .card-body h3:first-child,
.client-card .card-body h4:first-child,
.client-card .card-body .h1,
.client-card .card-body .h2,
.client-card .card-body .h3,
.client-card .card-body .h4 {
  margin-top: 0;
}

