/*
 * Skin: Material Red Light
 * -----------
 */
/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
/* ANIMATION */
/* SHADOWS */
.skin-red-light .main-header .navbar {
  background-color: #f44336;
}
.skin-red-light .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-red-light .main-header .navbar .nav > li > a:hover,
.skin-red-light .main-header .navbar .nav > li > a:active,
.skin-red-light .main-header .navbar .nav > li > a:focus,
.skin-red-light .main-header .navbar .nav .open > a,
.skin-red-light .main-header .navbar .nav .open > a:hover,
.skin-red-light .main-header .navbar .nav .open > a:focus,
.skin-red-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-red-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-red-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-red-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-red-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #f32c1e;
}
@media (max-width: 767px) {
  .skin-red-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-red-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-red-light .main-header .navbar .dropdown-menu li a:hover {
    background: #f32c1e;
  }
}
.skin-red-light .main-header .logo {
  background-color: #f44336;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-red-light .main-header .logo:hover {
  background-color: #f43e31;
}
.skin-red-light .main-header li.user-header {
  background-color: #f44336;
}
.skin-red-light .content-header {
  background: transparent;
}
.skin-red-light .wrapper,
.skin-red-light .main-sidebar,
.skin-red-light .left-side {
  background-color: #f9fafc;
}
.skin-red-light .main-sidebar {
  border-right: 1px solid #d2d6de;
}
.skin-red-light .user-panel > .info,
.skin-red-light .user-panel > .info > a {
  color: #444;
}
.skin-red-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-red-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-red-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-red-light .sidebar-menu > li:hover > a,
.skin-red-light .sidebar-menu > li.active > a {
  color: #000;
  background: #f4f4f5;
}
.skin-red-light .sidebar-menu > li.active {
  border-left-color: #f44336;
}
.skin-red-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-red-light .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.skin-red-light .sidebar a {
  color: #444;
}
.skin-red-light .sidebar a:hover {
  text-decoration: none;
}
.skin-red-light .sidebar-menu .treeview-menu > li > a {
  color: #777;
}
.skin-red-light .sidebar-menu .treeview-menu > li.active > a,
.skin-red-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #000;
}
.skin-red-light .sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-red-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-red-light .sidebar-form input[type="text"],
.skin-red-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-red-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-red-light .sidebar-form input[type="text"]:focus,
.skin-red-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-red-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-red-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-red-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-red-light .main-sidebar .user-panel {
  background: url('/public/img/patterns/user-panel-bg_red.jpg') no-repeat;
}
.skin-red-light .sidebar-menu > li:hover > a,
.skin-red-light .sidebar-menu > li.active > a {
  color: #FFF;
  background: #f44336;
}
.skin-red-light .user-panel > .info {
  color: #fff;
}
.skin-red-light .user-panel > .info > a {
  color: #fff;
}
.skin-red-light .sidebar-form {
  border: none;
  margin: 0;
}
.skin-red-light .sidebar-form input[type="text"],
.skin-red-light .sidebar-form input[type="text"]:focus,
.skin-red-light .sidebar-form .btn {
  background-color: transparent;
}
.skin-red-light a,
.skin-red-light a:hover,
.skin-red-light a:focus {
  color: #f44336;
}
.skin-red-light .togglebutton label input[type=checkbox]:checked + .toggle {
  background-color: rgba(244, 67, 54, 0.5);
}
.skin-red-light .togglebutton label input[type=checkbox]:checked + .toggle:after {
  background-color: #f44336;
}
.skin-red-light .togglebutton label input[type=checkbox]:checked + .toggle:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(244, 67, 54, 0.1);
}
.skin-red-light .dropdown-menu li a:hover {
  color: #f44336;
}
.skin-red-light .form-control,
.skin-red-light .form-group .form-control {
  background-image: white;
}
.skin-red-light .form-group.is-focused .form-control {
  background-image: white;
}
.skin-red-light .form-group.is-focused .form-control .material-input:after {
  background-color: #f44336;
}
.skin-red-light .form-group.is-focused label,
.skin-red-light .form-group.is-focused label.control-label {
  color: #f44336;
}
.skin-red-light .progress .progress-bar,
.skin-red-light .progress .progress-bar.progress-bar-default {
  background-color: #f44336;
}
.skin-red-light .progress .progress-bar.progress-bar-inverse {
  background-color: #3f51b5;
}
.skin-red-light .progress .progress-bar.progress-bar-primary {
  background-color: #009688;
}
.skin-red-light .progress .progress-bar.progress-bar-success {
  background-color: #4caf50;
}
.skin-red-light .progress .progress-bar.progress-bar-info {
  background-color: #03a9f4;
}
.skin-red-light .progress .progress-bar.progress-bar-warning {
  background-color: #ff5722;
}
.skin-red-light .progress .progress-bar.progress-bar-danger {
  background-color: #f44336;
}
.skin-red-light .nav-tabs {
  background: #f44336;
}
.skin-red-light .text-primary {
  color: #f44336;
}
.skin-red-light .slider.noUi-connect,
.skin-red-light .slider.slider-default.noUi-connect {
  background-color: #f44336;
}
.skin-red-light .slider.slider-inverse.noUi-connect {
  background-color: #3f51b5;
}
.skin-red-light .slider.slider-primary.noUi-connect {
  background-color: #009688;
}
.skin-red-light .slider.slider-success.noUi-connect {
  background-color: #4caf50;
}
.skin-red-light .slider.slider-info.noUi-connect {
  background-color: #03a9f4;
}
.skin-red-light .slider.slider-warning.noUi-connect {
  background-color: #ff5722;
}
.skin-red-light .slider.slider-danger.noUi-connect {
  background-color: #f44336;
}
.skin-red-light .slider .noUi-connect,
.skin-red-light .slider.slider-default .noUi-connect {
  background-color: #f44336;
}
.skin-red-light .slider.slider-inverse .noUi-connect {
  background-color: #3f51b5;
}
.skin-red-light .slider.slider-primary .noUi-connect {
  background-color: #009688;
}
.skin-red-light .slider.slider-success .noUi-connect {
  background-color: #4caf50;
}
.skin-red-light .slider.slider-info .noUi-connect {
  background-color: #03a9f4;
}
.skin-red-light .slider.slider-warning .noUi-connect {
  background-color: #ff5722;
}
.skin-red-light .slider.slider-danger .noUi-connect {
  background-color: #f44336;
}
.skin-red-light .slider .noUi-handle,
.skin-red-light .slider.slider-default .noUi-handle {
  background-color: #f44336;
}
.skin-red-light .slider.slider-inverse .noUi-handle {
  background-color: #3f51b5;
}
.skin-red-light .slider.slider-primary .noUi-handle {
  background-color: #009688;
}
.skin-red-light .slider.slider-success .noUi-handle {
  background-color: #4caf50;
}
.skin-red-light .slider.slider-info .noUi-handle {
  background-color: #03a9f4;
}
.skin-red-light .slider.slider-warning .noUi-handle {
  background-color: #ff5722;
}
.skin-red-light .slider.slider-danger .noUi-handle {
  background-color: #f44336;
}
.skin-red-light .slider .noUi-handle,
.skin-red-light .slider.slider-default .noUi-handle {
  border-color: #f44336;
}
.skin-red-light .slider.slider-inverse .noUi-handle {
  border-color: #3f51b5;
}
.skin-red-light .slider.slider-primary .noUi-handle {
  border-color: #009688;
}
.skin-red-light .slider.slider-success .noUi-handle {
  border-color: #4caf50;
}
.skin-red-light .slider.slider-info .noUi-handle {
  border-color: #03a9f4;
}
.skin-red-light .slider.slider-warning .noUi-handle {
  border-color: #ff5722;
}
.skin-red-light .slider.slider-danger .noUi-handle {
  border-color: #f44336;
}
.skin-red-light .checkbox input[type=checkbox]:checked + .checkbox-material .check,
.skin-red-light label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check {
  color: #f44336;
  border-color: #f44336;
}
.skin-red-light .checkbox input[type=checkbox]:checked + .checkbox-material .check:before,
.skin-red-light label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #f44336;
}
.skin-red-light .radio .check,
.skin-red-light label.radio-inline .check {
  background-color: #f44336;
}
/*# sourceMappingURL=./skin-md-red-light.css.map */